# Drop when https://github.com/jupyterlite/xeus/pull/271 is released
git+https://github.com/jtpio/jupyterlite-xeus@99adc79e3b0cd3ea469445e06d28e525d4e31306
jupyterlite==0.7.0a4
jupyterlite-pyodide-kernel==0.7.0a1
